@model ControlEscolar.Models.MateriaModel

@{
    ViewBag.Title = "Edit";
}

<h2>Actualiza la materia</h2>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>

    <div class="form-horizontal">
        @Html.HiddenFor(d => d.IdMateria, new { id = "idMateria" })
        <div class="form-group">
            @Html.LabelFor(d => d.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(d => d.Nombre, htmlAttributes: new { @id = "nombre", @class = "form-control", 
                                required = "required", RegularExpressionAttribute = @"^([a-zA-Z .&'-]+)$"})
                @Html.ValidationMessageFor(d => d.Nombre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(d => d.Costo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(d => d.Costo, htmlAttributes: new { @id = "costo", @class = "form-control", @type = "number",  
                                                @min = "0", @step = "0.01", @value = "0", required = "required"})
                @Html.ValidationMessageFor(d => d.Costo, "", new { @class = "text-danger" })
            </div>
        </div>

        <input type="button" value="Guardar" onclick="EditM()" class="btn btn-primary" />
    </div>

    <script>
        var url = "@Url.Content("~/Materia/UpdateMateria")";
        function EditM() {
            fetch(url, {
                method: "POST",
                body: JSON.stringify({
                    IdMateria: document.getElementById("idMateria").value,
                    Nombre: document.getElementById("nombre").value,
                    Costo: document.getElementById("costo").value,
                }),
                headers: {
                    'Accept': "application/json",
                    'Content-Type': "application/json"
                }
            }).then((res)=>{
                if (res.ok) {
                    return res.text()
                } else {
                    alert("Error al ejecutar")
                }
            }).then((data)=>{
                if (data != "1") {
                    alert(data)
                } else {
                    document.location.href= "@Url.Content("~/Materia")"
                }
            })
        }
    </script>
</body>
</html>